<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Homepage</title>
</head>
<body>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Index of elements</th>
            <th>Owner</th>
            <th>Balance</th>
            <th>Animal type</th>
            <th>Behavior</th>
            <th>King status</th>

        </tr>
        </thead>
        <tr th:each="account : ${accounts}">
            <td th:text="${accountStat.count}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="|${#numbers.formatDecimal(account.balance,0,2,'POINT')} EUR|"></td>
            <td th:text="${account.animalType}"></td>
            <td th:if="${account.balance} > 500">Good boy</td>
            <td th:if="${account.balance} < 500">Bad boy</td>
            <td th:if="${account.king}">KING</td>
            <!--<td th:switch ="${account.balance} > 500">-->
            <!--<span th:case="true">Good boy</span>-->
            <!--<span th:case="false">Bad boy</span>-->
            <!--</td>-->
        </tr>
    </table>
</div>

<form th:action="@{/raise}" th:method="post">
    <label for="raiseButton">Give me raise</label>
    <input type="text" name="buttonName" id="raiseButton">
    <button type="submit">Raise</button>
</form>

<form th:action="@{/accounts/add}" th:method="GET">
    <button type="submit">Add new accounts</button>
</form>

</body>
</html>