<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<div class="container text-center">
    <h2><strong>TODOS FOR TODAY</strong></h2>
    <a class="btn btn-warning" th:href="@{add}">Add new todo</a>
    <a class="btn btn-block" th:href="@{/assignee}">List of Assignees</a>

</div>
<div class="container">
    <form action="#" th:action="@{list}" th:object="${todos}" method="get" class="form-inline mr-auto">
        <input id="search" class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search"><br>
        <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>

    <div class="title">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">DONE</th>
                <th scope="col">URGENT</th>
                <th scope="col">DELETE</th>
                <th scope="col">EDIT</th>
            </tr>
            </thead>
            <tr scope="row" th:each="todo: ${todos}">
                <th scope="row" th:text="${todo.id}"></th>
                <td th:text="${todo.title}"></td>
                <td>
                    <span th:if="${todo.done}" class="glyphicon glyphicon-ok"></span>
                    <span th:unless="${todo.done}" class="glyphicon glyphicon-remove"></span>
                </td>
                <td>
                    <span th:if="${todo.urgent}" class="glyphicon glyphicon-ok"></span>
                    <span th:unless="${todo.urgent}" class="glyphicon glyphicon-remove"></span>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{{id}/delete(id=${todo.id})}">delete</a>
                </td>
                <td>
                    <a class="btn btn-primary" th:href="@{{id}/edit(id=${todo.id})}" th:attr="name=${todo.id}">edit</a>
                </td>
            </tr>
        </table>

    </div>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>