<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
        <th>DELETE</th>
        <th>EDIT</th>
    </tr>
    </thead>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.urgent}"></td>
        <td>
            <a th:href="@{{id}/delete(id=${todo.id})}">delete</a>
        </td>
        <td>
            <a th:href="@{{id}/edit(id=${todo.id})}" class="edit" th:attr="name=${todo.id}">edit</a>
        </td>
    </tr>
</table>
</ul>
</body>
</html>