<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Login page</title>
</head>
<body>
<h1>Welcome to my Reddit-clone site</h1>
<p>Please provide your name to see your personal posts</p>
<a class="btn btn-info" th:href="@{adduser}">Create new user</a>


<div class="container">
    <form action="#" th:action="@{login}" th:object="${users}" method="get" class="form-inline mr-auto">
    </form>

    <div class="title">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
            </tr>
            </thead>

            <tr scope="row" th:each="user : ${users}">
                <th scope="row" th:text="${user.id}"></th>
                <td>
                    <a th:href="@{users/{id} (id=${user.id})}" th:text="*{user.name}"></a>
        </table>

    </div>
</div>

<a th:href="@{/}">Cancel</a>


<!--<div class="container">-->
<!--<div>-->
<!--<form action="#" th:action="@{/login}" th:object="${toedit}" method="post">-->
<!--<input hidden type="text" name="id" id="id" th:field="*{id}" required><br>-->
<!--<label>Name</label>-->
<!--<select name="n">-->
<!--<option th:each="i:${edituser}" th:object="${i}" th:text="*{name}"></option>-->
<!--</select>-->
<!--<button type="submit">Log in</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->


<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>