<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<a class="btn btn-warning" th:href="@{submit}">Submit new post</a>

<div class="container text-center">
    <h2><strong>Trending posts</strong></h2>
</div>
<div class="container">
    <form action="#" th:action="@{/}" th:object="${posts}" method="get" class="form-inline mr-auto"></form>

    <div class="title">
        <table class="table">
            <tr th:scope="row" th:each="post: ${posts}">
                <th scope="row" th:text="${post.id}"></th>
                <td th:text="*{post.vote}"></td>
                <td><a th:href="@{{id}/voteup(id=${post.id})}">+</a></td>
                <td><a th:href="@{{id}/downvote(id=${post.id})}">-</a></td>
                <td th:text="${post.title}"></td>
            </tr>

        </table>
    </div>

</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>