<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>List of Users</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{userlist}" th:object="${users}" method="get" class="form-inline mr-auto">
    </form>
    <div class="title">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">NAME</th>
            </tr>
            </thead>
            <tr scope="row" th:each="user: ${users}">
                <td>
                    <a th:href="@{users/{name} (name=${user.name})}" th:text="*{user.name}"> </a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{{name}/remove(name=${user.name})}">delete</a>
                </td>
            </tr>
        </table>
    </div>

</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>